<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href=../../public/main.css>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>post what you like</h1>
          <form>
            <div class="form-group">
              <label>add new post</label>
              <textarea name="" id="" cols="30" rows="10"style="height:100px;width:500px;"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">submit</button>
            </div>
          </form>
        </div>
      </div>
</body>
</html>