<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comment</title>
    <link rel="stylesheet" href=../../public/comment.css>
    <script src="comment.js"></script>
</head>
<body>
    <div class="Main">     
        <div class="Input_Box">     
          <textarea class="Input_text"></textarea>     
          <div class="faceDiv"> </div>     
          <div class="Input_Foot"> <a class="imgBtn" href="javascript:void(0);"></a><a class="postBtn">submit</a> </div>     
        </div>     
      </div>    
</body>
</html>