<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href=../../public/main.css>
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">tupian</div>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index2.html">index</a></li>
                    <li><a href="">local events</a></li>
                    <li><a href="">food recommendations</a></li>
                    <li><a href="">Monthly theme competitions</a></li>
                    <li><a href="contact.html">contact us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">log in</a></li>
                    <li><a href="signup.html">sign up</a></li>
                    <li><a href="myhomepage.html">My homepage</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="list-group side-bar">
                    <a class="list-group-item active" href="#">All</a>
                    <a class="list-group-item" href="searchfriend.html">search friend</a>
                    <a class="list-group-item" href="#">friends recommendation</a>
                    <a class="list-group-item" href="#">International events</a>
                    <a class="list-group-item" href="#">Posting and Likes</a>
                    <a class="list-group-item" href="#">maps</a>
                    <a class="list-group-item" href="#">life service</a>
                    <a class="list-group-item" href="#">local weather</a>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="post-list">
                    <div class="post-list-item clearfix">
                        <div class="col-xs-5">
                            <img class="post-object" src="../../public/timg.jpg">
                        </div>
                        <div class="col-xs-7">
                            <a href="news.html">
                                <div class="post-heading">We successfully held it on May 10, the most beautiful dog competition in the OFF the wall, and finally the husky from Hoboken was called Senna, and won the championship</div>
                            </a>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aut doloribus optio
                                eligendi id expedita recusandae...</p> -->
                            <p class="text-muted">
                                <span>
                                    <img class="avatar" src="../../public/003.jpg">
                                Jack
                                </span> ⋅
                                <span>
                                369comments
                                </span> ⋅
                                <span>
                                7minutes ago
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="post-list-item clearfix">
                        <div class="col-xs-5">
                            <img class="post-object" src="../../public/003.jpg">
                        </div>
                        <div class="col-xs-7">
                            <a href="news.html">
                                <div class="post-heading">We successfully held it on May 10, the most beautiful dog competition in the OFF the wall, and finally the husky from Hoboken was called Senna, and won the championship</div>
                            </a>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aut doloribus optio
                                eligendi id expedita recusandae...</p> -->
                            <p class="text-muted">
                                <span>
                                    <img class="avatar" src="../../public/003.jpg">
                                Jack
                                </span> ⋅
                                <span>
                                369comments
                                </span> ⋅
                                <span>
                                7minutes ago
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="post-list-item clearfix">
                        <div class="col-xs-5">
                            <img class="post-object" src="../../public/timg.jpg">
                        </div>
                        <div class="col-xs-7">
                            <a href="news.html">
                                <div class="post-heading">We successfully held it on May 10, the most beautiful dog competition in the OFF the wall, and finally the husky from Hoboken was called Senna, and won the championship</div>
                            </a>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aut doloribus optio
                                eligendi id expedita recusandae...</p> -->
                            <p class="text-muted">
                                <span>
                                    <img class="avatar" src="../../public/003.jpg">
                                Jack
                                </span> ⋅
                                <span>
                                369comments
                                </span> ⋅
                                <span>
                                7minutes ago
                                </span>
                            </p>
                        </div>
                    </div>
                   
            </div>  </div>

            <div class="col-sm-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, mollitia!</div>
        </div>
    </div>
</body>

</html>